@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.screenReader_only {
  display: none;
}
/****/
.wrapper {
  overflow-x: hidden;
}

.contents_container {
  max-width: 960px;
  margin: 0 auto;
}

/***header***/
.display_flex {
  display: flex;
}

.topBar_container {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.topBar_logo {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}

.topBar_list_item {
  padding: 0 7px;
  font-size: 18px;
  list-style: none;
}

.topBar_list_item:hover {
  opacity: 0.5;
}

.searchBar_container {
  justify-content: space-between;
  width: 95%;
  padding: 5px 20px;
  margin: 0 auto;
  background-color: rgb(241, 247, 238);
}

.searchBar_search_input {
  width: 87%;
  height: 25px;
  border: none;
  background-color: transparent;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.searchBar_search_button {
  font-size: 15px;
}

/***main***/

.main_container {
  width: 100%;
}

.remotecontrol {
  display: none;
}

.category_list_item {
  width: 25%;
  text-align: center;
}

.category_list_item_anchor {
  display: inline-block;
  width: 100%;
  height: 51px;
  padding: 12px 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
}

.category_list_item_anchor:hover {
  border-bottom: darkseagreen 3px solid;
  color: darkseagreen;
  font-weight: 700;
}

.category_list_item_selected {
  height: 51px;
  border-bottom: darkseagreen 3px solid;
  color: darkseagreen;
  font-weight: 700;
}

.image_slide_container {
  margin-bottom: 50px;
}

.image_slide {
  width: 100%;
  max-width: 960px;
  overflow: hidden;
}

.image_slide::after {
  display: block;
  clear: left;
  content: "";
}

.image_slide_list {
  position: relative;
  float: left;
  width: 400%;
}

.image_slide_list_item {
  flex-shrink: 0;
  position: relative;
  width: 100vw;
  max-width: 960px;
  height: 250px;
}

.image_slide_list_item_image {
  display: block;
  position: relative;
  width: 100%;
}

.image_slide_list_item_description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.image_slide_control_container {
  margin: 5px 0;
  text-align: right;
}

.image_slide_control_button {
  width: 25px;
  color: darkseagreen;
  font-size: 18px;
}

.image_slide_control_button:last-of-type {
  margin-right: 10px;
}

.image_slide_control_button:hover {
  opacity: 0.5;
}

.quickMenu_list {
  flex-wrap: wrap;
  width: 100%;
}

.quickMenu_list li:nth-child(9),
.quickMenu_list li:nth-child(10),
.quickMenu_list li:nth-child(11) {
  display: none;
}

.quickMenu_list_item {
  display: block;
  width: 25%;
  margin-bottom: 10px;
}

.quickMenu_list_item_anchor {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.quickMenu_list_item_anchor:hover {
  opacity: 0.5;
}

.quickMenu_list_item_icon {
  display: block;
  width: 56px;
  height: 56px;
  margin: 0 auto 5px auto;
  border-radius: 13px;
  font-size: 30px;
  text-align: center;
}

.quickMenu_list_item_icon > i::before {
  display: block;
  margin: 13px 0;
}

.quickMenu_list_item_icon_event {
  background-color: rgb(252, 236, 150);
  color: goldenrod;
}

.quickMenu_list_item_icon_new {
  background-color: lightpink;
  color: rgb(250, 102, 124);
}

.quickMenu_list_item_icon_sale {
  background-color: rgb(212, 236, 212);
  color: darkseagreen;
}

.quickMenu_list_item_icon_todayDelivery {
  background-color: rgb(166, 187, 224);
  color: steelblue;
}

.quickMenu_list_item_icon_ranking {
  background-color: rgb(240, 192, 208);
  color: palevioletred;
}

.quickMenu_list_item_icon_store {
  background-color: lightgrey;
  color: rgb(128, 128, 128);
}

.quickMenu_list_item_icon_gift {
  background-color: seashell;
  color: rgb(167, 159, 154);
}

.quickMenu_list_item_icon_showMore {
  background-color: lavender;
  color: slateblue;
}

.quickMenu_list_item_icon_review {
  background-color: rgb(224, 204, 226);
  color: rgb(161, 121, 165);
}

.quickMenu_list_item_icon_recipe {
  background-color: rgb(255, 217, 147);
  color: orange;
}

.quickMenu_list_item_icon_inquiry {
  background-color: rgb(219, 253, 242);
  color: rgb(109, 216, 180);
}

.quickMenu_list_item_name {
  width: 100%;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}

.margin-bottom_control {
  margin-bottom: 70px;
}

.sec_title {
  margin: 0 0 15px 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
}

.time_sale_list_item:not(:last-child) {
  margin-bottom: 30px;
}

.time_sale_list_item_image_count_container {
  position: relative;
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
}

/* .time_sale_list_item_image_box {
} */

.time_sale_list_item_image {
  width: 100%;
}

.time_sale_count {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 7px 0;
  background-color: rgba(49, 34, 22, 0.5);
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  text-align: center;
}

.time_sale_count > strong {
  font-size: 22px;
  letter-spacing: 0.07em;
}

.time_sale_count > span {
  margin-left: 5px;
  font-size: 14px;
}

.time_sale_list_item_description {
  margin: 0 10px;
  font-family: "Noto Sans KR", sans-serif;
}

.time_sale_list_item_name {
  margin-bottom: 7px;
  font-size: 15px;
}

.time_sale_list_item_price {
  font-size: 17px;
}

.time_sale_list_item_discount_rate {
  margin-right: 5px;
  color: crimson;
}

.original_price {
  margin-left: 5px;
  color: gray;
  font-size: 14px;
  text-decoration: line-through 1px gray;
}

.ad_list {
  justify-content: space-around;
  font-family: "Noto Sans KR", sans-serif;
}

.ad {
  width: 48%;
}

.ad_image {
  width: 100%;
  height: 120px;
  margin-bottom: 7px;
  padding: 3px 7px;
  background-color: pink;
  border-radius: 10px;
  text-align: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ad_image > i {
  color: rgba(0, 0, 0, 0.5);
}

.ad_first {
  background-image: url("https://t1.daumcdn.net/cfile/blog/274A503857F6383F0E");
}

.ad_second {
  background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/09/15/istock-543594288.jpg?width=1200");
}

.ad_description_title {
  font-size: 14px;
  font-weight: 700;
}

.ad_description_coment {
  font-size: 12px;
}

.banner_image {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Sans KR", sans-serif;
}

.banner_first {
  background-image: url("img/banner01.jpg");
  background-position-y: 55%;
}

.banner_second {
  background-image: url("img/banner02.jpg");
  background-position-y: 15%;
}

.banner_third {
  background-image: url("https://cdn.hswstatic.com/gif/goat-boy.jpg");
  background-position-y: 15%;
}

.payment_promotion_list {
  margin: 0 10px;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.payment_promotion_list::-webkit-scrollbar {
  display: none;
}

.payment_promotion_list_item {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-shrink: 0;
  width: 85px;
  height: 140px;
  padding: 0 5px;
  border-radius: 7px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}

.payment_promotion_list_item:not(:last-of-type) {
  margin-right: 10px;
}

.kbCard {
  background-color: rgb(122, 113, 102);
}

.shinhanCard {
  background-color: rgb(111, 120, 127);
}

.bc {
  background-color: rgb(91, 87, 88);
}

.nonghyup {
  background-color: rgb(33, 90, 153);
}

.kakaoPay {
  /* background-color: rgba(254, 229, 0); */
  background-color: rgb(24, 22, 0);
}

.Npay {
  background-color: rgb(3, 199, 90);
}

.payment_logo {
  width: auto;
  height: 25px;
  margin: 0 auto 10px auto;
}

.landscape_logo {
  height: 20px;
}

.payment_name {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 700;
}

.discount_range {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1;
}

.payment_font_small {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.item_slide_control_button {
  display: none;
}

.item_slide_list {
  margin: 0 10px;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.item_slide_list::-webkit-scrollbar {
  display: none;
}

.item_slide_list_item:not(:last-of-type) {
  margin-right: 10px;
}

.item_anchor {
  display: block;
}

.image_box {
  width: 130px;
  height: 130px;
  border-radius: 7px;
  margin-bottom: 10px;
  overflow: hidden;
}

.item_slide_list_item_image {
  width: 100%;
}

.item_slide_list_item_description {
  width: 100%;
}

.item_slide_list_item_name {
  display: -webkit-box;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /**webkit 미사용 브라우저**/
  line-height: 1.4em;
  max-height: 2.8em;
}

.item_slide_list_item_price {
  margin: 3px 0;
  font-size: 17px;
}

.item_slide_list_item_price_font_small {
  font-size: 12px;
}

.item_slide_list_item_review::before {
  display: inline-block;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: 900;
  color: rgb(255, 208, 0);
}

.item_slide_list_item_review {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 11px;
  color: rgb(196, 196, 196);
}

.recommend_themes_control_container {
  margin-bottom: 15px;
}

.recommend_control_button {
  padding: 3px 4px;
  border-radius: 10px;
  font-size: 12px;
}

.button_twenty_likes {
  border: 1px solid palevioletred;
  color: palevioletred;
}

.button_twenty_likes_selected {
  background-color: palevioletred;
  color: white;
  font-weight: 700;
}

.button_bbq_items {
  border: 1px solid coral;
  color: coral;
}

.button_bbq_items_selected {
  background-color: coral;
  color: white;
  font-weight: 700;
}

.button_fresh_morning {
  border: 1px solid yellowgreen;
  color: yellowgreen;
}

.button_fresh_morning_selected {
  background-color: yellowgreen;
  color: white;
  font-weight: 700;
}

.display_none {
  display: none;
}

.exhibition_container {
  width: 100%;
  padding: 0 5px;
}

.exhibition_container a:not(:last-child) {
  margin-bottom: 50px;
}
.exhibition_sec_title_1024px_container {
  display: none;
}

.exhibition_item_box {
  position: relative;
}

.exhibition_image {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.exhibition_item_spices {
  background-image: url("img/etc/spice.jpg");
}

.exhibition_item_grains {
  background-image: url("img/grain/grains.jpg");
}

.exhibition_item_tea {
  background-image: url("img/etc/tea2.jpg");
  background-position: center;
}

.exhibition_title {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: whitesmoke;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}

.exhibition_title > span {
  display: block;
  font-size: 15px;
}

.exhibition_title_grains {
  top: 20px;
  bottom: 0;
  right: -20px;
  color: rgb(88, 61, 42);
  text-align: left;
}

.special_price_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.special_price_list :nth-child(5),
.special_price_list :nth-child(6) {
  margin-bottom: 0;
}

.special_price_list_item {
  width: 48%;
  margin-bottom: 40px;
  font-family: "Noto Sans KR", sans-serif;
}

.position_relative {
  position: relative;
}

.special_price_list_item_discount_rate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  left: 5%;
  width: 35px;
  height: 35px;
  border-radius: 18px;
  background-color: rgba(143, 188, 143, 0.7);
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.special_price_list_item_image_box {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 6px;
  border-radius: 5px;
  overflow: hidden;
}

.special_price_list_item_image {
  width: 100%;
}

.special_price_list_item_name {
  display: -webkit-box;
  font-size: 14.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /**webkit 미사용 브라우저**/
  line-height: 1.4em;
  max-height: 2.8em;
}

.special_price_list_item_price {
  font-size: 17px;
  margin: 3px 0;
}

.special_price_list_item_original_price {
  margin-left: 5px;
  color: gray;
  font-size: 14px;
  text-decoration: line-through;
}

.recipe_control_button_container {
  justify-content: space-between;
  position: absolute;
  top: 48%; /*추후 반드시 수정*/
  width: 100%;
  padding: 0 25px;
}

.recipe_control_button {
  font-size: 27px;
  color: darkseagreen;
}

.recipe_slide_container {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.recipe_slide_list_item {
  flex-shrink: 0;
  width: 100%;
}

.recipe_slide_list_item_image {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.recipe01 {
  background-image: url("https://www.veganfamilyrecipes.com/wp-content/uploads/2018/02/Creamy-Almond-Soup-Recipe-Vegan-1-of-7.jpg");
}

.recipe02 {
  background-image: url("http://tbc.imgdl.xcache.kinxcdn.com/cdn001/20181121/1807233160_1122_vege_5.jpg");
}

.recipe03 {
  background-image: url("https://i.pinimg.com/736x/d5/b8/11/d5b8117d100a1ef754fd0fbd70f6d1a8.jpg");
}

.recipe_index_container {
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
  color: lightgrey;
}

/***footer***/

footer {
  background-color: rgb(234, 243, 234);
  font-family: "Noto Sans KR", sans-serif;
}
/* .footer_container_mobile_ver,
.footer_container_PC_ver {
  background-color: rgb(234, 243, 234);
  font-family: "Noto Sans KR", sans-serif;
} */

.footer_container_PC_ver {
  display: none;
}

.footer_contents_list {
  width: 100%;
  padding: 10px;
}

.footer_contents_item {
  width: 25%;
  background-color: white;
}

.footer_contents {
  display: block;
  width: 100%;
  padding: 17px 0;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.footer_terms_list {
  width: 100%;
}

.footer_terms_item {
  width: 25%;
}

.footer_terms {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 12px;
  text-align: center;
}

.footer_logo_mobile_ver {
  padding: 40px 0 20px 0;
  color: darkseagreen;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 375px) {
  #image_slide_list_item03 > img {
    top: -70px;
  }

  #image_slide_list_item04 > img {
    top: -50px;
  }

  .quickMenu_list_item {
    width: 20%;
  }

  .quickMenu_list li:nth-child(8) {
    display: none;
  }

  .quickMenu_list li:nth-child(9),
  .quickMenu_list li:nth-child(10),
  .quickMenu_list li:nth-child(11) {
    display: block;
  }
}

@media screen and (min-width: 414px) {
  .topBar_logo {
    font-size: 20px;
  }

  .topBar_list_item {
    font-size: 22px;
  }

  .searchBar_search_button {
    font-size: 18px;
  }

  #image_slide_list_item01 > img {
    top: -40px;
  }

  .banner_image {
    height: 130px;
  }

  .special_price_list_item_discount_rate {
    width: 45px;
    height: 45px;
    border-radius: 23px;
    font-size: 17px;
  }

  .item_review {
    font-size: 12.5px;
  }
}

@media screen and (min-width: 768px) {
  .topBar_container {
    margin: 25px 20px;
  }

  .topBar_logo {
    font-size: 23px;
  }

  .searchBar_search_input {
    height: 30px;
  }

  .searchBar_search_button {
    font-size: 20px;
  }

  .category_list_item_anchor {
    padding: 15px 0;
    font-size: 15px;
  }

  .image_slide_list_item {
    height: 400px;
  }

  #image_slide_list_item01 > img {
    top: -50px;
  }

  .image_slide_list_item_description {
    font-size: 20px;
  }

  .image_slide_list_item_de .image_slide_control_button {
    width: 35px;
    font-size: 20px;
  }

  .quickMenu_list_item {
    margin-bottom: 17px;
  }

  .quickMenu_list_item_name {
    font-size: 14px;
  }

  .sec_title {
    font-size: 22px;
  }

  .time_sale_list_item:not(:last-child) {
    margin-bottom: 50px;
  }

  .time_sale_list_item_image_count_container {
    height: 230px;
    margin-bottom: 15px;
  }

  .time_sale_list_item_name {
    font-size: 17px;
  }

  .time_sale_list_item_price {
    font-size: 20px;
  }

  .original_price {
    font-size: 17px;
  }

  .ad_image {
    height: 200px;
  }

  .ad_image > i {
    font-size: 20px;
  }

  .ad_second {
    background-position-y: 35%;
  }

  .ad_description_title {
    font-size: 16px;
  }

  .ad_description_coment {
    font-size: 14px;
  }

  .special_price_list_item {
    width: 30%;
  }

  .special_price_list_item_image_box {
    margin-bottom: 10px;
  }

  .special_price_list_item_name {
    font-size: 16px;
  }

  .special_price_list_item_price {
    margin: 4px 0;
  }

  .item_slide_list_item_review {
    font-size: 13px;
  }

  .banner_image {
    height: 180px;
  }

  .payment_promotion_list {
    justify-content: center;
  }

  .payment_promotion_list_item {
    width: 100px;
    height: 165px;
  }

  .payment_logo {
    height: 30px;
  }

  .landscape_logo {
    height: 25px;
  }

  .payment_name {
    font-size: 14px;
  }

  .discount_range {
    font-size: 20px;
  }

  .payment_font_small {
    font-size: 13px;
  }

  .image_box {
    width: 200px;
    height: 200px;
  }

  .item_slide_list {
    margin: 0;
  }

  .item_slide_list_item_description {
    width: 200px;
  }

  .item_slide_list_item_name {
    font-size: 15px;
  }

  .item_slide_list_item_price {
    font-size: 19px;
  }

  .item_slide_list_item_price_font_small {
    font-size: 14px;
  }

  .recommend_control_button {
    font-size: 14px;
    padding: 5px 6px;
    border-radius: 15px;
  }

  .recipe_slide_list_item_image {
    height: 160px;
  }

  .footer_contents,
  .footer_terms {
    font-size: 13px;
  }

  .footer_logo {
    padding: 50px 0 30px 0;
    font-size: 13px;
  }
}

@media screen and (min-width: 1024px) {
  #image_slide_list_item01 > img {
    top: -70px;
  }

  #image_slide_list_item02 > img {
    top: -70px;
  }

  #image_slide_list_item03 > img {
    top: -280px;
  }

  #image_slide_list_item04 > img {
    top: -200px;
  }

  .margin-bottom_control {
    margin-bottom: 130px;
  }

  .time_sale_list_item_image_count_container {
    height: 270px;
  }

  .time_sale_list_item_image {
    top: -50px;
  }

  .banner_image {
    height: 200px;
  }

  .payment_promotion_list {
    overflow: hidden;
  }

  .item_slide_container > button {
    top: 28%;
  }

  .item_slide_list {
    height: 302px;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all ease-in 0.3ms;
  }

  .item_slide_control_button {
    display: block;
    position: absolute;
    top: 80px;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 25px;
    background-color: rgba(245, 222, 179, 0.8);
    color: white;
  }

  .recommend_sec > button {
    top: 47%;
  }

  .item_slide_control_prev_button {
    left: -25px;
  }

  .item_slide_control_prev_button::before {
    display: block;
    color: white;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 700;
    content: "\f053";
  }

  .item_slide_control_next_button {
    right: -25px;
  }

  .item_slide_control_next_button::before {
    display: block;
    color: white;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 700;
    content: "\f054";
  }

  .display_none {
    display: none;
  }

  .exhibition_sec {
    display: flex;
  }

  .exhibition_sec_title_container {
    display: none;
    font-family: "Noto Sans KR", sans-serif;
  }

  .exhibition_sec_title_1024px_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 550px;
    padding: 0 30px;
  }

  .exhibition_sec_title_1024px_container > h3 {
    margin-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 32px;
  }

  .exhibition_sec_title_1024px_container > p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 22px;
  }

  .exhibition_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .exhibition_container > a {
    width: 100%;
  }

  .exhibition_item_box {
    width: 100%;
  }

  .recipe_slide_list_item_image {
    height: 240px;
  }

  .recipe_index_container {
    margin: 20px 0;
    font-size: 18px;
  }

  .footer_container_mobile_ver {
    display: none;
  }

  .footer_container_PC_ver {
    display: flex;
    justify-content: space-around;
    width: 70%;
    max-width: 968px;
    margin: 0 auto;
    padding: 45px 0;
    font-family: "Noto Sans KR", sans-serif;
  }

  .footer_logo_PC_ver {
    align-items: center;
    color: darkseagreen;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
  }

  .footer_container_PC_ver > address {
    font-size: 11px;
    font-style: normal;
    height: 135px;
  }

  .footer_CS_center {
    height: 135px;
  }

  .footer_CS_center > strong {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .footer_CS_center p:last-of-type {
    font-size: 11px;
    margin: 10px 0;
  }
}
